/* Page styles */

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 400;
	}

/* Game styles */
	
	html, body, #game, #screens, #screens .screen { width: 100%; height: 100%; }
	html, body, #game, #screens, #screens .screen, #bench, #tools, #board, #board .row, #board .position { overflow: hidden; }

	#game {
		position: relative;
		background: green;
	}

	/* @media screen and (orientation: portrait) {} */
	/* @media screen and (orientation: landscape) {} */
	
	@media only screen and (min-width: 238px) { #game { width: 238px; height: 238px; } }
	@media only screen and (min-width: 476px) { #game { width: 476px; height: 476px; } }

	/* Screens */
	
		#screens {
			position: relative;
			background-color: purple;
		}
	
		#screens .screen { 
			position: absolute;
			display: none;
			z-index : 10;
		}

		#screens .screen.active {
			display: block;
		}
	
		/* Board screen */
		
			#bench, #tools, #board {
				position: absolute;
			}
			
			#bench { bottom: 0.42%; left: 0.42%; width: 99.16%; height: 10.92%; background-color: red; }
			#tools { top: 0.42%; right: 0.42%; width: 10.92%; height: 87.82%; background-color: red; }
			#board { top: 0.42%; left: 0.42%; width: 87.82%; height: 87.82%; background-color: red; }			
		
			/* Clearfix the rows */
			#board .row:before, #board .row:after { content: ""; display: table; }
			#board .row:after { clear: both; }
			#board .row { *zoom: 1; }
			#board .row { margin-bottom: 0.48%; height: 6.22%; }
			#board .row:last-child { background-color: rgba(145,168,12,0.5); margin-bottom: 0; }
			#board .position { 
				width: 6.22%; height: 100%; margin-right: 0.48%; float: left;
				background: #f0b7a1;
				background: -moz-radial-gradient(center, ellipse cover,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e));
				background: -webkit-radial-gradient(center, ellipse cover,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
				background: -o-radial-gradient(center, ellipse cover,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
				background: -ms-radial-gradient(center, ellipse cover,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
				background: radial-gradient(center, ellipse cover,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 );
			}
			#board .position:last-child { background: pink; margin-right: 0; }

